{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
  {% if current_user.is_authenticated %}
    <p><a class="action" href="{{ url_for('user.create') }}">New</a></p>
  {% endif %}
{% endblock %}


{% block content %}
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>User groups</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
     {% for user in users %}
        <tr>
            <td>{{ user['username'] }}</td>
            <td>{{ user['groups'] }}</td>
            <td><a class="action" href=" {{ url_for('user.edit', id=user['id']) }} ">Edit</a></td>
            <td><a class="action" href=" {{ url_for('user.delete', id=user['id']) }} ">Delete</a></td>
        </tr>
     {% endfor %}
     </tbody>
</table>
{% endblock %}

